/* Home Page Styling */
.home-container {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}



.home-header h1 {
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px; /* Space between the title and image */
}

.home-header img {
    max-width: 100px; /* Adjust the size of the image */
    height: auto;
    border-radius: 10px;
}

.home-header p {
    font-size: 1em;
    margin-bottom: 20px;
}

.get-started-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.get-started-button:hover {
    background-color: #444;
}

.home-image-section {
    margin-top: 40px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .home-header {
        flex-direction: column;
    }

    .home-header h1 {
        margin-right: 0;
    }

    .home-header img {
        margin-top: 10px;
    }
}
