/* Home Page Styling */
.home-container {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

.home-header {
    margin-top: 50px;
}

.home-header h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.home-logo {
    max-width: 150px; /* Adjust the size of the image */
    height: auto;
    margin: 20px auto; /* Center the image */
    display: block; /* Ensures the image stays centered */
}

.home-description p {
    font-size: 1.1em; /* Slightly larger font */
    margin-bottom: 25px; /* Increased space between the paragraphs */
    line-height: 1.6; /* Line height for better readability */
}

.get-started-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

.get-started-button:hover {
    background-color: #444;
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .home-header {
        flex-direction: column;
    }

    .home-header h1 {
        margin-right: 0;
    }

    .home-logo {
        margin-top: 10px;
    }
}
